TEST_RUNNER_GITHUB_USERNAME=larsks
TEST_RUNNER_GITHUB_TOKEN=github_pat_...
TEST_RUNNER_REPOSITORY_URL=https://github.com/larsks/example-tests
TEST_RUNNER_TESTS_PATH=/tests
TEST_RUNNER_USERNAME=tests
TEST_RUNNER_PASSWORD=tests
